<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>About Ken Xiong</h1>
        <a href='/'>Go home</a>
    </div>
      <img width='300' src='/images/xk2.jpg'>
      <hr>

      <h2>Education</h2>
      <ul>
        <li>Jericho High School, 2018</li>
        <li><a href='http://www.brandeis.edu'>Brandeis University</a>, 2022</li>
        <li>Columbia University, 2023</li>
      </ul>
      <hr>

      <h2>CS courses that I have taken at Brandeis...</h2>
      <table class="table table-bordered table-striped">
        <thead>
          <tr><th>1st-Year </th><th>2nd-Year </th><th>3rd-Year</th></tr>
        </thead>
        <tbody>
          <tr><td>CS10</td><td>CS12</td><td>CS21</td></tr>
        </tbody>
      </table>
      <hr>

      <div>
        <h2>Contact me:</h2>
        <p>kenxiong0301@gmail.com</p>
      </div>

<%- include('bootfooter') -%>
