<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
    <h1>Ken's Life Moments</h1>
</div>
<hr>

<h2>Places that I have lived ...</h2>
<div class="row">
  <div class="col">
    <ul>
      <li>Wuhan, China</li>
      <li>Long Island, NY, U.S.</li>
      <li>Waltham, MA, U.S.</li>
    </ul>
  </div>
  <div class="col">
    <a href="http://www.wfls.com.cn/">Wuhan Foreign Languages School</a><br>
    <image width="400" src="/images/IMG_1680.jpg">
  </div>
  <div class="col">
    Montauk Point, Long Island<br>
    <image width="400" src="/images/IMG_4215.JPG">
  </div>
  <div class="col">
    Franconia Notch State Park, MA<br>
    <image width="100%" src="/images/Franconia Notch State Park.jpg">
  </div>
</div>

<h2>Ken's Timeline</h2>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>0-2</th>
      <th>2-14</th>
      <th>14-21</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      Born in Queens, New York;<br>
      Taken by my parents to China when I was 2
      </td>
      <td>
      Spent 12 delightful years in China;<br>
      Made a lot of childhood friends
      </td>
      <td>
      Came back to the states for high school<br>
      and college education
      </td>
    </tr>
  </tbody>
</table>
<hr>

<h2>Feedback</h2>
<form method="post" action="/showformdata" class="bg-info">

  Enter your name:
  <input type="text"
         name="fullname"
         placeholder="your full name"><br>

  When were you born?
  <input type="date"
         name="birthday"><br>

  Do you find the content interesting?
  <select name="interesting">
    <option>yes</option>
    <option>no</option>
    <option>somewhat</option>
  </select><hr>

  Do you want to see more:<br>
   Traveling content <input type="checkbox" name="interest" value="reading"><br>
   Sports life <input type="checkbox" name="interest" value="code"><br>
   Daily content <input type="checkbox" name="interest" value="voice"><br>
   Other: <textarea name="content" rows="5" cols="40"></textarea>
  <hr>

  Will you watch my videos if I have a Youtube channel?<br>
  yes <input type="radio" name="youtube" value="yes"><br>
  no  <input type="radio" name="youtube" value="no"><br>
  maybe <input type="radio" name="youtube" value="maybe"><br>

  <input type="submit" value="Register now">
</form>

<%- include('bootfooter') -%>
