<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>A Collection of Ken's Life Moments</h1>
        <p>Life may not be perfect, but it has perfect moments.</p>
    </div>
    <image width="300" src="/images/xk1.jpg">


<%- include('bootfooter') -%>
