<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Welcome to Onepic! Share Your Life Moments!</h1>
        <p>Write a post with one memorable picture of your choice!</p>
    </div>
    <hr>

    <form method="post" action="/showMoments">
      Upload your picture URL here: <input type="text" name="urlPic" size="60"><br>
      Write your post here:
      <div class="md-form">
          <textarea name="post" id="form19" class="md-textarea form-control" rows="3"></textarea>
      </div>

      <button type="submit" class="btn btn-outline-secondary btn-rounded float-end">
        Post
      </button>
    </form>

<%- include('bootfooter') -%>
