<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Welcome to Onepic! Share Your Life Moments!</h1>
        <p>Write a post with one memorable picture of your choice!</p>
    </div>
    <form method="post" action="/showMoments">
      Upload your pic here: <input type="image" name="pic"><br>
      Write your post here: <textarea name="post"


<%- include('bootfooter') -%>
