<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>See your post here</h1>
    </div>
    <hr>


      <% posts.forEach(post => { %>
        <div class="row">
          <div class="col">
            <image width ="100%" src=<% post.imageURL %>>
          </div>
          <div class="col">
            <% post.text %>
          </div>
        </div>
        <% post.createdAt %>
        <hr>
      <% }) %>


<%- include('bootfooter') -%>
